:root {
  --primary-color: #6200ee;
  --primary-color-hover: #A46BF5;
  --green-color: #04a754;
  --green-color-hover: #05dc83;
  --gray-color: #f4f5f6;
  --gray-color-hover: #ecedee;
  --gray-color-disabled: #0000001f;
  --text-accent-color: #000000;
  --red-color: #f44336;
}
