input {
  border: 1px solid #ccc;
  padding: 7px 14px;
  transition: 0.4s;
  background: transparent;
  &:focus {
    outline: none;
  }
  &[type="text"] {
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    letter-spacing: 1px;
  }
  &.error {
    border: 1px solid #ff0000;
  }
}
